*{
    text-decoration: none;
    padding: 0px;
    margin:0px;
}

/* Header */

.navbar{
    padding-left: 50px;
    padding-right: 50px;
}

.navbar ul{
    overflow: auto;
}
.navdiv{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    padding: 3px 3px; 
}
.lia{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    color:rgb(168, 164, 164);
}
.llogo a{
    font-size: 15px;
    font-weight: 600;
    color:rgb(168, 164, 164);
}
.git button{
    background-color: yellow;
    padding: 10px;
    width: 90px;
    border-radius: 4px;
}
.git a{
color: black;
font-weight: bold;
}

.top{
    width:64%;
}

/* Body */

body{
    background-color:black;
    
}
body p{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    color:rgb(168, 164, 164);
}
body h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    font-size: 30px;
    color: rgb(210, 214, 218);
}
.home{
    color: rgb(210, 214, 218);
    display: flex;
    flex-direction: column;
    padding: 59px 32px 58px 47px;}
.home h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    font-size: 4rem;
    
}

.logo{
    margin-top: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content img{
    display: block;
    width: 90%;
}
.content p{
    margin-top: 7px;
    display: block;
    width: 95%;
}
.content h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    margin-top: 20px;
}
.top p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    /* width: 45%; */
    margin-right: 20px;
    margin-top: 0px;
    padding-top: 0px;
}
/* svg{
    width: 10%; */

.gap{
    width:10%;
}
.con2{
    background-color: rgb(44, 46, 54);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 55px 70px;

}
#gap{
    width:20%;  
}

.bottom{
display: inline-block;
width: 40%;
padding: 98px 70px;
}
.bottom p{
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer{
    background-color: rgb(44, 46, 54);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:10px 70px;
    
}
.footer h3{
    padding-top: 5px;
    color: rgb(210, 214, 218);
}
.scml svg{
    width:20%;
    padding: 2px 2px; 
}
.git1 button{
    background-color: yellow;
    padding: 10px;
    width: 90px;
    border-radius: 4px;
}
.git1 a{
color: black;
font-weight: bold;
}
.hmb{
  
    display: none;
}


@media screen and (max-width: 767px) {
    .home h1 {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: lighter;
        font-size: 1.8rem;
    }
    .navdiv {
        padding-top: 30px;}

    .navbar li {
    list-style: none;
    display: none;
    margin-right: 25px;
    padding: 3px 3px;
}
.lia {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    color: rgb(168, 164, 164);
}
.git button{
    display: none;
}
.git a{
color: black;
font-weight: bold;
}
.top {
    width: 95%;
}
.home {
    color: rgb(210, 214, 218);
    display: flex;
    flex-direction: column;
    padding: 61px 10px ;
}
.navbar {
    padding-left: 10px;
    padding-right: 10px;
}
.logo {
    margin-top: 50px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.logo svg {
    width: calc(50% - 20px);
    margin: 10px;
    height: 20px;
    text-align: center;
    box-sizing: border-box;
}
.content {
    margin-top: 30px;
    display: block;
    justify-content: space-between;
}
.con2 {
    background-color: rgb(44, 46, 54);
    display: block;
    padding: 40px 10px;
}

.bottom {
    display: inline-block;
    width: 86%;
    padding: 46px 29px;
}
.content img {
    display: block;
    width: 99%;
    padding-top: 15px;

}
.footer {
    background-color: rgb(44, 46, 54);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 10px;
}
.hmb {
    color: aliceblue;
    display: flex;
}
  }
